:root {
  --brand-color: #ff6c00;
  --black-color: #303030;
  --white-color: #fff;
  --pagr-color: #555555;
  --backgroundcolor: #191c26;
  --greycolor: #9da4bd;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
.footer-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.unstyled-list {
  list-style-type: none;
}
@media screen and(min-width:600px) {
  .nav-list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .social-links-list {
    display: none;
  }
  .about-btn {
    display: none;
  }
}
.nav-section {
  font-size: 12px;
  font-style: semibold;
  padding-top: 40px;
  display: flex;
  margin-top: 31px;
  margin-left: 100px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-container {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .nav-container {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .modal {
    display: none;
  }
  .mobile-container {
    display: none;
  }
}

.nav-container {
  margin: 0;
  width: 155px;
  height: 680px;
  display: flex;
  flex-direction: row;
}
.social-links {
  display: flex;
  flex-direction: column-reverse;
  height: 680px;
  width: 138px;
  justify-content: space-between;
}
.social-links-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  transform: rotate(-0.25turn);
  margin-bottom: 100px;
}
.contact-link:hover,
.contact-link:focus,
.contact-link:active {
  color: #ff6c00;
}
.social-links-item {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400px;
  margin: auto 20px 20px 50px;
}
.social-links-list::before {
  content: url("../images/Rectangle4.svg");
}
.line {
  transform: rotate(0.25turn);
}
.link:hover,
.link:focus,
.link:active {
  color: #ff6c00;
}
.link {
  color: var(--black-color);
  text-decoration: none;
}
.nav-list {
  color: var(--white-color);
}
.nav-item {
  margin-right: 60px;
  display: inline-block;
}
.social-links-list::before {
  content: url("../images/Rectangle4.svg");
}
.contact-list {
  margin-left: auto;
  list-style-type: none;
}
.contact-item {
  display: inline-block;
  margin-right: 30px;
}
.nav-button {
  width: 160px;
  height: 40px;
  color: var(--white-color);
  border-color: var(--brand-color);
  border-radius: 50px;
  background-color: var(--black-color);
  text-transform: uppercase;
}
.nav-button:hover,
.nav-button:focus,
.nav-button:active {
  background-color: #ff6c00;
  color: white;
}
.contact-link {
  color: var(--white-color);
  font-weight: 600px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.nav-link {
  color: var(--white-color);
  font-weight: 600px;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--brand-color);
  font-style: normal;
}
.logo {
  margin-left: 30px;
  margin-top: 20px;
}
.page-title {
  padding-top: 160px;
  padding-bottom: 200px;
}
.subtitle {
  margin-left: 100px;
  font-family: open sans;
  color: rgba(157, 164, 189, 0.6);
  font-weight: 600px;
  font-size: 11px;
  line-height: 1.66;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.subtitle::before {
  margin-right: 20px;
  content: url("../images/Rectangle5.svg");
}
.hero-title {
  color: var(--white-color);
  font-family: raleway;
  font-weight: 700px;
  font-size: 72px;
  line-height: 1.17;
  margin-bottom: 20px;
  margin-left: 100px;
}
.site-descr {
  width: 357px;
  height: 60px;
  margin-left: 100px;
  color: #9da4bd;
  font-weight: 400px;
  font-size: 18px;
}
.about-container {
  max-width: 418px;
  margin-left: auto;
  margin-right: auto;
}
.about-images {
  display: none;
}
.about-content {
  width: 100%;
  margin-top: 84px;
  margin-bottom: 84px;
}
.about-paragraph {
  font-family: open sans;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.85em;
  width: 470px;
  color: var(--pagr-color);
  letter-spacing: 2%;
  border: 2px solid red;
}
.about-subtitle {
  font-weight: 600px;
  font-size: 11px;
  line-height: 1.36;
  margin-left: 20px;
  text-transform: uppercase;
}
.section-subtitle {
  display: flex;
  font-family: Raleway;
  font-style: Bold;
  font-size: 28px;
  width: 470px;
  line-height: 1.16;
  margin-left: 0;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}
.description {
  margin-right: 30px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.76;
  color: var(--pagr-color);
  margin-bottom: 40px;
}

@media screen and(min-width:600px) {
  .about-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    height: 685px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
  }
  .about-images {
    display: flex;
    gap: 30px;
  }
  .about-paragraph {
    font-family: open sans;
    font-weight: 400px;
    font-size: 18px;
    line-height: 1.85em;
    width: 470px;
    color: var(--pagr-color);
    padding-bottom: 20px;
    letter-spacing: 2%;
    display: inline-block;
  }
  .section-subtitle {
    display: flex;
    font-family: Raleway;
    font-style: Bold;
    font-size: 42px;
    width: 470px;
    line-height: 1.16;
    margin-left: 0;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
  }
  .images {
    height: 445px;
    margin-left: 0;
    padding-left: 0;
  }
}

.about-svg {
  color: black;
  margin-top: 5px;
}

.about-title-cont {
  display: flex;
  margin-bottom: 20px;
}

.about-paragraph {
  font-family: open sans;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.85em;
  width: 470px;
  color: var(--pagr-color);
  padding-bottom: 20px;
  letter-spacing: 2%;
  display: inline-block;
}
.white-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border-color: var(--brand-color);
  box-sizing: border-box;
  padding: 12px 20px 12px 20px;
  letter-spacing: 0.09em;
  border: 2px solid var(--brand-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.white-button:hover,
.white-button:active,
.white-button:focus {
  background-color: #ff6c00;
  color: white;
}
.services {
  margin: 0;
}
.services-title {
  width: 470px;
  height: 98px;
  font-family: raleway;
  color: var(--white-color);
  font-size: 42px;
  font-style: 900px;
  margin-left: 215px;
  margin-top: 20px;
}
#services-subtitle {
  margin-left: 215px;
  padding-top: 140px;
  color: #9da4bd;
  font-family: open sans;
  font-size: 11px;
}
#services-subtitle::before {
  margin-right: 20px;
  margin-bottom: 20px;
  content: url("../images/Rectangle5.svg");
}
.services-list {
  height: 270px;
  list-style-type: none;
  margin-left: auto;
  margin-top: 44px;
  padding-top: 40px;
  color: #9da4bd;
  font-size: 18px;
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  content: normal;
}
.services {
  background-image: url("../images/overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0, auto;
}
.services-container {
  min-width: 320px;
  max-width: 1600px;
  margin: 0, auto;
}
.services-list-cont {
  display: flex;
  flex-direction: row;
}
.services-desc {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  padding-left: 40px;
  padding-bottom: 20px;
}
.services-price::before {
  content: url("../images/Rectangle6.svg");
}
.services-btn {
  margin-left: 550px;
  margin-top: 44px;
  margin-bottom: 120px;
}
.right-list {
  margin-left: 50px;
  margin-right: auto;
}
.plus-item {
  color: var(--brand-color);
  margin-left: 2px;
}
.gift-list {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 129px;
  margin-bottom: 129px;
  margin-left: 85px;
  gap: 30px;
}
.gift-items {
  width: 170px;
  height: 140px;
  contain: content;
  font-family: open sans;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.05em;
  background-color: rgb(247, 247, 247);
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.gift-items:first-child {
  position: relative;
  top: -35px;
}
.gift-items:nth-child(3) {
  position: relative;
  top: -35px;
}
.plus-item {
  font-size: 16px;
  font-weight: 600px;
  position: relative;
  top: -25px;
}
.numbers {
  font-family: open sans;
  font-size: 42px;
  font-weight: 900px;
  letter-spacing: 5%;
}
.customers-parag {
  text-align: center;
  font-family: open sans;
  font-size: 11px;
  margin: 10px 24px 24px 20px;
}

.customers .about-title-cont {
  margin-top: 129px;
}
.customers-content {
  width: 50%;
  margin-bottom: 129px;
}
.images-list {
  display: flex;
  gap: 30px;
}
#our-team {
  background-color: rgb(247, 247, 247);
}
.ourteam-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.pictures-section {
  background-color: var(--white-color);
}
.pictures-cont {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.icon_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.social_icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--black-color);
  border-radius: 50%;
  margin-top: 30px;
}
.social-link:hover,
.social-link:active {
  color: var(--brand-color);
}
.team {
  margin: 0 auto;
}
.image-list-item {
  width: 370px;
  height: 502px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.barbernames {
  font-family: opensans;
  font-size: 18px;
  letter-spacing: 2%;
  line-height: auto;
  margin-top: 30px;
  margin-bottom: 8px;
}
.barber-desc {
  font-size: 14px;
  color: var(--brand-color);
}
.ourteam-container .about-title-cont {
  margin-top: 120px;
}
.pictures .about-title-cont {
  margin-bottom: 44px;
}
.site-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 215px;
  margin-top: 40px;
  height: 634px;
}

.form-cont {
  height: 634px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #191c26;
  justify-content: flex-start;
  align-items: flex-start;
}
.adress {
  width: 50%;
  height: 634px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      180deg,
      rgba(25, 28, 38, 0.9) 0%,
      rgba(25, 28, 38, 0.9) 80%
    ),
    url(../images/footer-Bg.jpg);
}
.form-name {
  width: 270px;
  background-color: #191c26;
  border-bottom: 1px solid var(--greycolor);
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--greycolor);
  margin-left: 100px;
  text-transform: uppercase;
  background-color: var(--bagroundcolor);
}
.form-name:hover,
.form-name:active {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
}
.form-textarea {
  width: 570px;
  height: 76px;
  text-transform: uppercase;
  width: 570px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--greycolor);
  color: var(--greycolor);
  background-color: var(--black-color);
  margin-left: 100px;
  background-color: var(--backgroundcolor);
}

.contact {
  margin-left: 320px;
  margin-top: 130px;
  letter-spacing: 5%;
}
#contacts {
  padding: 0;
  margin: 0;
}
.footer-link {
  font-size: 18px;
  color: var(--greycolor);
  font-weight: 800px;
  line-height: 1.33;
  text-decoration: none;
  letter-spacing: 0.1em;
  margin: 100px 100px, 20px, 20px;
}
.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: var(--brand-color);
}
.footer-button {
  margin-left: 100px;
}
